SECRET_KEY=<SECRET_KEY>
POSTGRES_NAME=<DB_NAME>
POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD=<DB_PASSWORD>
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_CUSTOMER_NAME=<STRIPE_CUSTOMER_NAME>
STRIPE_CUSTOMER_EMAIL=<STRIPE_CUSTOMER_EMAIL>
FINE_MULTIPLIER=<FINE_MULTIPLIER_IF_OVERDUE_BORROWING>

#Default values
DEBUG=False
POSTGRES_HOST=library_db
POSTGRES_PORT=5432
CELERY_BROKER_URL=redis://library_redis:6379/0
CELERY_RESULT_BACKEND=redis://library_redis:6379/0
TELEGRAM_BOT_TOKEN="7768239182:AAGsufaQv0676a-Ri-6XGAK1RQ3NV7LUeXg"
TELEGRAM_CHAT_ID="-1002401376752"
PG_DATA=/var/lib/postgresql/data
REDIS_DATA=/redis/data
